@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
  transition: 0.4s all;
}

.dm-serif {
  font-family: 'DM Serif Display', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

img {
  @apply w-full h-auto;
}

.container {
  @apply w-full px-6 max-w-7xl mx-auto;
}

.container-large {
  @apply w-full px-6 max-w-6xl mx-auto;
}

.container-medium {
  @apply w-full px-6 max-w-5xl mx-auto;
}

.container-4 {
  @apply w-full px-6 max-w-4xl mx-auto;
}

.container-small {
  @apply w-full px-6 max-w-3xl mx-auto;
}

.typed {
  font-family: 'DM Serif Display', serif !important;
}

.is-typed span.cursor {
  @apply bg-teal-800 inline-block w-1;
  animation: blink 1s infinite;
}
.is-typed span.underscore {
  width: 10px;
  height: 1px;
  @apply bg-teal-800 inline-flex items-end;
  animation: blink 1s infinite;
}
.is-typed span.cursor.typing {
  animation: none;
}

@keyframes blink {
  49% {
    @apply bg-teal-800;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}